@use '../styles/variable' as *;

.example-spacer {
  flex: 1 1 auto;
}

.primary-typography{
    color:$primary;
}
.app-container{
  width: 80%; // Specify your desired width
  margin: 0 auto; // This centers the div horizontally
  padding: 20px; // For visual demonstration
}